.border {
    border: 2px solid red;

}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;

}

.items-center {
    align-items: center;
}



.m-2 {
    margin-bottom: 20px;
}

.invert {
    filter: invert(1);
}

.m-r {
    margin-right: 16px;
}

.m-b {
    margin-bottom: 10px;
}

.m-t {
    margin-top: 32px;
}

.cursor {
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #333;
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #222;
}
